# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Django media and static
media/
staticfiles/

# Database & Local settings
*.sqlite3
*.db
.env
local_settings.py

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
